[TutorialIntro]

message =
	"""What took you so long you verm? Valdis army can't wait \
	for a mercenary!
	
	So you want our money but you don't know how to ride this \
	piece of junk you call a SpaceShip? Figure it out yourself. \
	Come back when you destroy 2 Dryiad asteroids."""

duration = 15.
blink_time = 0.5

font = 'trip_serif'
font_size = 7
font_color = (255,255,255,200)

image_path = 'resources/images/interface/mage_sms.png'

image_pos = (600,250)

text_rect = (355,215,499,141-15)
