[OpenGL]

; Maximum fps the game tries to achieve
fps = 200

clear_color = (0,0,0,0)

; Parameters for gluPerspective
y_field_of_view = 45 	; degrees
z_near = 0.1 			; has to be > 0.0
z_far = 2500.0

camera_buffer_size = 6

draw_bounding_sphere = False

skybox = True


[Screens]

first_screen = 'Intro'


[Mouse]

sensivity = 0.09


[SimpleGun]

pos = (0.,-2.,-2.)
shoot_rate = 9.3

shoot_velocity = 800.0
duration = 2.

damage = 500


[SimpleMissile]

pos = (0.,-2.,-2.)

initial_velocity = 5.

attraction_velocity = 190.

damage = 10000

num_rockets = 5


[Player]

max_hp = 10000
initial_lifes = 5
