[Fonts]
space_age = space_age.ttf || Space Age
star_jedi = star_jedi.ttf || Star Jedi
neuropol = neuropol.ttf || Neuropol
trip_serif = trip_serifce.ttf || TripSerifCE


[Fields]

;; Format:
;; <field_name> = <img_path> || <img_pos> || (<info_x,info_y,info_width,info_height>)

targets = interface/targets.png || (50,50) || (50,50,30,20)