[Fonts]
space_age = space_age.ttf || Space Age
star_jedi = star_jedi.ttf || Star Jedi
neuropol = neuropol.ttf || Neuropol
trip_serif = trip_serifce.ttf || TripSerifCE


[Fields]

;; Format:
;; <field_name> = <img_path> || <img_pos> || (<info_x,info_y,info_width,info_height>)


; left side

score = interface/score.png || (20,110) || (35,145,112,24) || 1
e-rockets = interface/e-rockets.png || (20,110+101) || (35,145+101,112,24) || 1


; right side

alt = interface/alt.png || (1040,110) || (1055,145,112,24) || 1
speed = interface/speed.png || (1040,110+101) || (1055,145+101,112,24) || 1


; top side
life = interface/life.png || (530,9) || (530+15,9+35,112,24) || 1
targets = interface/targets.png || (530+140+40,9) || (530+140+40+15,9+35,112,24) || 1
time = interface/time.png || (530-140-40,9) || (530-140-40+15,9+35,112,24) || 1