[Fonts]
space_age = space_age.ttf || Space Age
star_jedi = star_jedi.ttf || Star Jedi
neuropol = neuropol.ttf || Neuropol
trip_serif = trip_serifce.ttf || TripSerifCE

[Settings]

field_font = 'space_age'
field_font_sz = 12
field_color = (255,255,255,200)

[Fields]

;; Format:
;; <field_name> = <img_path> || <img_pos> || (<info_x,info_y,info_width,info_height>)


; left side

score = interface/score.png || (40,100) || (55,135,112,24) || 1
e-rockets = interface/e-rockets.png || (40,100+350) || (55,135+350,112,24) || 1


; right side

alt = interface/alt.png || (1020,100) || (1035,135,112,24) || 1
speed = interface/speed.png || (1020,100+350) || (1035,135+350,112,24) || 1


; top side

life = interface/life.png || (530,9) || (530+15,9+35,112,24) || 1
targets = interface/targets.png || (530+140+40,9) || (530+140+40+15,9+35,112,24) || 1
time = interface/time.png || (530-140-40,9) || (530-140-40+15,9+35,112,24) || 1



[GuidedMissile]

image_path = 'interface/guided-missile.png'
image_pos = (10,185)
image_scale = 1
view_rect = (10,185,100,100)



[E-Radar]

image_path = 'interface/e-radar.png'
image_pos = (1200-240-10,185)
image_scale = 1
view_rect = (1040,185,100,100)
