
[Pause]

message = 'Paused'

duration = 0.

color = (0,0,0,150)

fade_duration = 0.4

font = 'neuropol'
font_color = (255,255,255,150)
font_size = 18


[Ship_Hit]

message = ''

duration = 0.1

color = (255,0,0,160)

fade_duration = 0.1

font = 'neuropol'
font_color = (255,255,255,150)
font_size = 18


[Show_Score]

duration = 0.8

color = (0,0,0,0)

fade_duration = 0.1

font = 'trip_serif'
font_color = (255,255,255,220)
font_size = 14

velocity = (0,-10)


[Show_Missile_Hit]

message = 'Hit' 

duration = 0.8

color = (0,0,0,0)

fade_duration = 0.08

font = 'trip_serif'
font_color = (0,255,0,180)
font_size = 14

velocity = (0, 0)

position = (28+205/2, 184+198/2+30)


[Show_Missile_Miss]

message = 'Miss' 

duration = 0.8

color = (0,0,0,0)

fade_duration = 0.08

font = 'trip_serif'
font_color = (255,0,0,180)
font_size = 14

velocity = (0, 0)

position = (28+205/2, 184+198/2+30)


[Show_Level_Name]

duration = 1.2

color = (0,0,0,0)

fade_duration = 1

font = 'neuropol'
font_color = (255,255,255,180)
font_size = 20

velocity = (0, 0)

position = (600,300)
