
[Pause]

message = 'Paused'

duration = 0.

color = (0,0,0,150)

fade_duration = 0.4

font = 'neuropol'
font_color = (255,255,255,150)
font_size = 18


[Ship_Hit]

message = ''

duration = 0.1

color = (255,0,0,160)

fade_duration = 0.1

font = 'neuropol'
font_color = (255,255,255,150)
font_size = 18
